*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    padding: 300px;
  }
  
  h1 {
    text-align: center;
  }
  
  audio {
    width: 100%;
  }
  
  input {
    width: 50%;
    margin: 10px 299px;
  }
  
  button {
    width: 50%;
    margin: 10px 300px;
  }
  .hidden{
    display: none;
  }
  